<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo app</title>
  </head>
  <body>
    <h1>Todo App</h1>
    <p>Todo app with flask shsh</p>
    <form action="/add" method="post">
      <div>
        <label for="">Todo title </label>
        <input type="text" name="title" placeholder="add todo ..." />
        <br>
        <br>
        <textarea name="descr" cols="30" rows="10" placeholder="note"></textarea>
        <br>
        <br>
        <button type="submit">Add</button>
      </div>
    </form>
    <div>
      <h3>Todos</h3>
      {% for x in todo_list %}
       <p>{{x.id}} | {{x.title}}</p>
       <p>Descr: {{x.description}}</p>
           {% if x.completed == False %}
          <span>Not completed</span>
          {% else %}
          <span>completed</span>
          {% endif %}

          <a href="/update/{{x.id}}">Update</a>
          <a href="/delete/{{x.id}}">Delete</a>


      {% endfor %} 
    </div>
  </body>
</html>
