<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo app</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.js"></script>
  </head>
  <body class="ui container">
    <h1 class="ui header blue">Update todo</h1>
    <form action="/update/{{task.id}}" method="post">
      <div class="ui input focus loading">
        <input type="text" name="title" value="{{task.title}}" />
      </div>
      <div class="ui segment">
        <textarea name="descr" cols="30" rows="10" placeholder="note">
             {{task.description}}</textarea
        >
      </div>

      <button type="submit"  class="ui blue button">Update</button>
    </form>
  </body>
</html>
